.spinner-container {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    margin-top: 10px;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .spinner {
    display: flex;
    justify-content: space-between;
    width: 60px;
  }
  
  .spinner-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    animation: spinner 1.2s infinite;
  }
  
  .spinner-circle:nth-child(1) {
    animation-delay: 0s;
  }
  
  .spinner-circle:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .spinner-circle:nth-child(3) {
    animation-delay: 0.8s;
  }
  
  @keyframes spinner {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 1320px;
    margin: 0 auto;
    width: 96%;
  }
  
  .content {
    padding-bottom: 30px;
  }
  
  header nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
  header nav .container .logo {
    width: 150px;
  }
  header nav .container .mobilemenu {
    display: none;
  }
  header nav .container .visible_false {
    display: none;
  }
  header nav .container .visible_true {
    display: flex;
  }
  header nav .container ul {
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;
  }
  header nav .container ul .close {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  header nav .container ul li {
    margin-right: 10px;
    font-size: 18px;
    font-family: Satoshi-Medium;
  }
  header nav .container ul a {
    font-size: 18px;
    font-family: Satoshi-Medium;
    color: #000;
    transition: all 0.3s;
  }
  header nav .container ul a:hover {
    color: blueviolet;
  }
  @media (max-width: 767px) {
   
    .pcmenu {
      display: none;
    }
    header nav .container .mobilemenu {
      display: block;
      position: relative;
    }
    header nav .container ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      /* gap: 50px; */
      position: absolute;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      background: #fff;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      right: 0;
      top: -10pz;
      z-index: 10000000;
      padding: 0 50px;
      padding-top: 54px;
      padding-bottom: 30px;
      background: rgba(255, 255, 255, 0.8);
      -webkit-backdrop-filter: blur(20px);
              backdrop-filter: blur(20px);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 0 0 10px 10px;
    }
    header nav .container ul .close {
      display: block;
    }
  }