.containers {
  max-width: 400px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
  /* border: 2px solid black; */
}

input[type="text"]:focus {
  outline: none;
  
}

.repo-list {
   display: flex;
      justify-content: center;
      flex-wrap: wrap; 

  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center; */ 
  /* gap: 40px; */
}

.repo-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.repo-icon {
  width: 40px;
  height: 40px;
}

.repo-details {
  margin-top: 10px;
}

.repo-details h3 {
  margin: 0;
}

.repo-details span {
  color: #888;
  font-size: 0.9em;
}

.repo-infos {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.info-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.visit-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}
